<div class="titleBar">
<h1>FamilyFirst</h1>
<div class="tagLine">
  <h3>"Family at the Heart of Care"</h3>
</div>
</div>

<div class="loginContainer">
  <input ng-model='userName' class="loginInput" type="text" name="username" value="" placeholder="username">
  <input ng-model='password' class="loginInput" type="password" name="password" value="" placeholder="password">
  <button ng-click='login()' class="loginButton" type="button" name="login">Login</button>
  <button class="loginButton" type="button" name="signUp">Sign Up</button>
</div>
