
<div  class="row titleBar small-12 columns ">
  <div class="title">
  <img src="images/hand (1).png" alt="" />
  <h1>Care Mangement Tasks</h1>
  </div>
  <div class="welcome">

    <h5 class="small-12 columns">{{user.userName}}</h5>
    <a class="small-12 columns" href="#/medication">Medications</a>
    <a class="small-12 columns" href="#/login">logout</a>
  </div>
</div>
<div class="row container">
<div class="small-4 columns">
    <div class=" addTask row small-12 columns">
      <h4>Add a new Task</h4>
        <input ng-model='taskText' type="text" name="task" value="" placeholder="Describe your Task">
        <button ng-click='add()' type="button" name="add">Add Task <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button>
    </div>
    <div class="row small-12 columns proTip">
        <img src="images/lightbulb.png" alt="LightBulb" />
        <h6>{{tip.tip}}</h6>
    </div>
</div>
<div  class="small-8 small-centered columns taskContainer">
    <div ng-repeat="task in taskList track by $index" class="task">
        <!-- <div class="postedBy">
            <h6>{{task.timestamp.dayOfWeek}} at {{task.timestamp.hour}}:{{task.timestamp.minute}}</h6>
        </div> -->
        <div class="post">
            <div class="done">
                <!-- <button class="done" ng-click='done(task.taskId)' type="button" name="button">Done</button> -->
                <input id="check" ng-if="task.completedByUser" type="checkbox"  checked ng-click='done(task.taskId)' name="name" value="">
                <input id="check" ng-if="task.completedByUser === null" type="checkbox"  ng-click='done(task.taskId)' name="name" value="">
            </div>
            <div class="mainTask">
                <div class="actualTask">
                    <h4>{{task.taskText}}</h4>
                </div>
                <div class="comments">
                    <h6>Comments:</h6>
                    <h6>{{task.commentText}}</h6>
                </div>

                <div ng-if="task.commentText === null" class="newComments">
                    <input ng-model="model.newComment[$index]" type="text" placeholder="comments">
                    <button ng-click='comment(task.taskId,$index)' type="button" name="button">Add</button>
                </div>


            </div>
            <div class="created">
              <h6>Created By: {{task.user.userName}}</h6>
              <h6>Completed By: {{task.completedByUser.userName}}</h6>
            </div>
        </div>
    </div>
</div>
</div>

<!-- <div class="small-2 columns">
    <div class="addTask">
        <input ng-model='taskText' type="text" name="task" value="" placeholder="add a new task">
        <button ng-click='add()' type="button" name="add">Add Task</button>
    </div>
    <div class="proTip">
        <img src="images/lightbulb.png" alt="LightBulb" />
        <h6>{{tip.tip}}</h6>
    </div>
</div> -->
