body {
  background-image: url("images/445876-bigthumbnail.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 75%;
  background-position-x: 50%; }

main {
  background-image: url("images/445876-bigthumbnail.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 75%;
  background-position-x: 50%; }

.container {
  min-height: 25em; }

.title {
  display: inline-block;
  width: 80%;
  vertical-align: top; }

.welcome {
  display: inline-block;
  width: 18%;
  margin-top: 2%;
  text-align: right; }

.welcome h5 {
  display: block;
  float: right; }

.titleBar {
  color: white;
  padding: 0;
  width: 100%; }

.titleBar img {
  width: 10%;
  display: inline-block; }

.titleBar h1 {
  display: inline-block;
  width: 80%;
  margin-top: 1%;
  margin-left: 5%;
  text-shadow: 2px 2px #000000; }

.titleBar a {
  display: block;
  float: right;
  margin: 0 2%;
  color: white; }

.tagLine {
  width: 70%;
  margin: 0 auto; }

.tagLine h3 {
  font-family: 'Bad Script', cursive;
  margin-top: 1%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #000000; }

.loginContainer {
  min-height: 90rem;
  max-height: 90rem;
  margin-top: 5%; }

.loginContainer button {
  display: inline-block;
  background-color: #194ba0;
  color: white;
  border-radius: 5px;
  width: 41%;
  height: 2rem; }

.taskContainer {
  width: 70%;
  min-height: 90rem;
  max-height: 90rem;
  margin: 0 auto;
  overflow: scroll; }

.task {
  width: 95%;
  margin: 5% auto; }

.footer {
  vertical-align: bottom;
  height: 10em;
  padding: 1%; }

.postedBy {
  background-color: #b9b9b9;
  border-radius: 10px 10px 0px 0px;
  width: 40%;
  height: 2.5em;
  margin-bottom: -1%;
  text-align: center; }

.post {
  display: inline-block;
  width: 100%;
  background-color: rgba(243, 243, 243, 0.75);
  border-radius: 5px;
  margin: -8px;
  padding: 2%; }

.done {
  vertical-align: top;
  display: inline-block;
  width: 10%;
  padding: 2%; }

.mainTask {
  vertical-align: top;
  display: inline-block;
  width: 65%; }

.created {
  vertical-align: top;
  display: inline-block;
  width: 20%; }

.newComments button {
  display: inline-block;
  width: 20%; }

.newComments input {
  display: inline-block;
  width: 70%;
  border: 1px solid #194ba0; }

.newComments button {
  display: inline-block;
  background-color: #194ba0;
  color: white;
  border-radius: 5px;
  width: 20%;
  height: 2rem;
  margin-left: 2%; }

.addTask {
  margin: 0 auto;
  display: inline-block;
  background-color: rgba(243, 243, 243, 0.75);
  padding: 1%;
  border-radius: 10px;
  min-height: 10rem; }

.addTask h4 {
  text-align: center;
  padding: 2%; }

.addTask input {
  border: 1px solid #194ba0;
  width: 90%;
  margin: 0 auto; }

.addTask button {
  display: inline-block;
  background-color: #194ba0;
  color: white;
  border-radius: 5px;
  width: 41%;
  height: 2rem;
  float: right;
  margin: 3% 2% 0% 0%; }

.addMed {
  margin: 0 auto;
  display: inline-block;
  background-color: rgba(243, 243, 243, 0.75);
  padding: 1%;
  border-radius: 10px;
  min-height: 10rem; }

.addAddMed h4 {
  text-align: center;
  padding: 2%; }

.addMed input {
  border: 1px solid blue;
  width: 90%;
  margin: 1% auto; }

.addMed button {
  display: inline-block;
  background-color: #194ba0;
  color: white;
  border-radius: 5px;
  width: 80%;
  height: 2rem;
  float: right;
  margin: 3% 2% 0% 0%; }

.done input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  padding: 10px; }

.proTip {
  width: 48%;
  margin: 0% auto;
  display: inline-block;
  background-color: rgba(243, 243, 243, 0.75);
  padding: 1%;
  border-radius: 10px; }

.proTip img {
  vertical-align: top;
  width: 10%;
  display: inline-block; }

.proTip h6 {
  display: inline-block;
  width: 88%; }

.medInfo {
  display: inline-block;
  width: 79%; }

.timer {
  width: 100%;
  display: inline-block;
  float: right; }

.timer h5 {
  display: inline-block; }

.end {
  float: right; }

.giveMed {
  display: inline-block;
  width: 20%; }

.giveMed button {
  display: inline-block;
  background-color: #194ba0;
  color: white;
  border-radius: 5px;
  width: 80%;
  height: 2rem;
  margin-left: 2%;
  float: right; }

.medName h5 {
  display: inline-block;
  width: 70%; }

.medName button {
  display: inline-block;
  background-color: #8c8484;
  color: white;
  border-radius: 5px;
  width: 25%;
  height: 2rem;
  margin-left: 2%;
  float: right; }

.timerContainer {
  width: 100%;
  height: 28px;
  background-color: #5f5e5e;
  border-style: inset;
  border-width: 4px;
  border-radius: 50px 15px; }

#timerBar {
  background-color: red;
  color: black;
  position: relative;
  width: 0%;
  height: 20px;
  border-radius: 50px 15px; }

@media screen and (min-width: 800px) {
  .taskContainer {
    min-height: 23rem;
    max-height: 23rem; }
  .loginContainer {
    min-height: 25rem;
    max-height: 25rem; }
  main {
    min-height: 100%; }
  .addTask {
    margin: 10% auto;
    display: inline-block;
    background-color: rgba(243, 243, 243, 0.75);
    padding: 1%;
    border-radius: 10px;
    min-height: 10rem; }
  .addMed {
    margin: 10% auto;
    display: inline-block;
    background-color: rgba(243, 243, 243, 0.75);
    padding: 1%;
    border-radius: 10px;
    min-height: 10rem; }
  .addMed button {
    display: inline-block;
    background-color: #194ba0;
    color: white;
    border-radius: 5px;
    width: 50%;
    height: 2rem;
    float: right;
    margin: 3% 2% 0% 0%; } }

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg); }
  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out; }
  40% {
    transform: rotateZ(17deg); }
  60% {
    transform: rotateZ(16deg); }
  100% {
    transform: translateY(100%) rotateZ(17deg); } }

/* slide in from the bottom */
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%); } }

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to {
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0; } }

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8); } }

/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }

/* slide in from the bottom */
@keyframes slideInUp {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.ng-leave {
  animation: fadeOut 0.5s;
  z-index: 1; }

.ng-enter {
  animation: fadeIn 0.5s;
  z-index: 2; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  main {
    min-height: 110rem; }
  .taskContainer {
    min-height: 40rem;
    max-height: 65rem; }
  .addMed {
    margin: 2% auto;
    display: inline-block;
    background-color: rgba(243, 243, 243, 0.75);
    padding: 1%;
    border-radius: 10px;
    min-height: 10rem; }
  .addTask {
    margin: 2% auto;
    display: inline-block;
    background-color: rgba(243, 243, 243, 0.75);
    padding: 1%;
    border-radius: 10px;
    min-height: 10rem; }
  .proTip {
    width: 48%;
    margin: 2% auto;
    display: inline-block;
    background-color: rgba(243, 243, 243, 0.75);
    padding: 1%;
    border-radius: 10px; } }
