.titleBar img {
  width: 100%; }

.tagLine {
  text-align: center;
  background-color: #F0DE73;
  width: 70%;
  margin: -2% auto;
  border-radius: 10px;
  border: 1px solid #b9b9b9;
  color: black; }

.loginContainer {
  width: 30%;
  margin: 5% auto; }

.taskContainer {
  width: 60%;
  height: 23em;
  margin: 0 auto;
  overflow: scroll; }

.task {
  width: 95%;
  margin: 5% auto; }

.footer {
  background-color: #0B80D9;
  height: 7em;
  padding: 4%; }

.postedBy {
  background-color: #b9b9b9;
  border-radius: 10px 10px 0px 0px;
  width: 40%;
  margin: 0;
  text-align: center; }

.post {
  display: inline-block;
  width: 100%;
  background-color: #b9b9b9;
  border-radius: 5px;
  margin: -8px;
  padding: 2%; }

.comments {
  display: inline-block;
  width: 50%;
  float: right; }

.addTask {
  width: 48%;
  margin: -2%;
  display: inline-block; }

.done {
  border: 2px solid black;
  border-radius: 5px;
  display: inline-block;
  background-color: white; }

.proTip {
  width: 48%;
  display: inline-block;
  float: right; }
