main {
  background-image: url("images/445876-bigthumbnail.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 75%;
    background-position-x: 50%;
}
.container{
  min-height: 25em;
}
.title{
  display: inline-block;
  width: 80%;
  vertical-align: top;
}
.welcome{
  display: inline-block;
    width: 18%;
    margin-top: 2%;
}

.welcome h5{
  display: block;
  float: right;
}
.titleBar{
  color: white;
  padding: 0;
  width: 100%;
}
.titleBar img{
  width: 10%;
  display: inline-block;
}
.titleBar h1 {
  display: inline-block;
    width: 80%;
    margin-top: 1%;
    margin-left: 5%;
  text-shadow: 2px 2px #000000;
}
.titleBar a{
  display: block;
  float: right;
  margin: 0 2%;
  color: white;
}
.tagLine{
  text-align: center;
  background-color: #F0DE73;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #b9b9b9;
  color: black;
}
.loginContainer{
  min-height: 90rem;
  max-height: 90rem;
  margin-top: 5%;
}
.taskContainer{
  width: 70%;
  min-height: 90rem;
  max-height: 90rem;
  margin: 0 auto;
  overflow: scroll;
}
.task{
  width: 95%;
  margin: 5% auto;
}
.footer{
  vertical-align: bottom;
  // background-color: #0B80D9;
  height: 10em;
  padding: 1%;
}
.postedBy{
  background-color: #b9b9b9;
  border-radius: 10px 10px 0px 0px;
  width: 40%;
  height: 2.5em;
  margin-bottom: -1%;
  text-align: center;
}
.post{
  display: inline-block;
  width: 100%;
  background-color: rgba(243, 243, 243, 0.75);
    border-radius: 5px;
    margin: -8px;
    padding: 2%;
    // box-shadow: 10px 10px 5px #888888;
}

.done{
  vertical-align: top;
  display: inline-block;
  width: 10%;
  padding: 2%;
}
.mainTask{
  vertical-align: top;
  display: inline-block;
  width: 65%;
}
.created{
  vertical-align: top;
  display: inline-block;
  width: 20%;
}
.newComments button{
  display: inline-block;
  width: 20%;
}
.newComments input {
  display: inline-block;
  width: 70%;
}
.addTask{
margin: 10% auto;
display: inline-block;
background-color: rgba(243, 243, 243, 0.75);
padding: 1%;
border-radius: 10px;
// border: 1px solid black;
// box-shadow: 10px 10px 5px #383737;
min-height: 10rem;
}
.addTask h4{
  padding: 2%;
}
.done input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}
.proTip{
  width: 48%;
margin: 0% auto;
display: inline-block;
background-color: rgba(243, 243, 243, 0.75);
padding: 1%;
border-radius: 10px;
// border: 1px solid black;
// // box-shadow: 10px 10px 5px #383737;
}
.proTip img{
  vertical-align: top;
  width: 10%;
  display: inline-block;
}
.proTip h6{
  display: inline-block;
  width: 88%;
}
.medInfo{
  display: inline-block;
  width: 38%;
}
.timer{
  width: 60%;
  display: inline-block;
  float: right;
}
#timerBar{
  background-color:red;
    color:black;
    position:relative;
    width: 0%;
    height:20px;
}
@media screen and (min-width: 800px) {
  .taskContainer{
    min-height: 23rem;
    max-height: 23rem;
  }
  .loginContainer{
    min-height: 25rem;
    max-height: 25rem;
  }
  main {
    min-height: 40rem;
  }
}
