


<div  class="row titleBar small-12 columns ">
  <div class="title">
  <img src="images/hand (1).png" alt="" />
  <h1>Family First</h1>
  </div>

</div>
<div  class="small-8 small-centered columns tagLine">
  <h3>"Family at the Heart of Care"</h3>
</div>


<div  class="small-8 small-centered columns loginContainer">
  <input ng-model='userName' class="loginInput" type="text" name="username" value="" placeholder="username">
  <input ng-model='password' class="loginInput" type="password" name="password" value="" placeholder="password">
  <button ng-click='login()' class="loginButton" type="button" name="login">Login</button>
  <!-- <button class="loginButton" type="button" name="signUp">Sign Up</button> -->
</div>
<div  class="small-12 columns footer">

</div>
