


<div  class="row titleBar small-12 columns ">
  <div class="title">
  <img src="images/hand (1).png" alt="" />
  <h1>Family First</h1>
  </div>

</div>
<div  class="row small-6 small-centered columns tagLine">
  <h3>Family at the Heart of Care</h3>
</div>


<div  class="loginContainer row small-8 small-centered columns ">
  <input ng-model='userName' class="loginInput" type="text" name="username" value="" placeholder="username">
  <input ng-model='password' class="loginInput" type="password" name="password" value="" placeholder="password">
  <button ng-click='login()' class="small-4 small-centered columns" type="button" name="login">Login <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button>
</div>
