<div class="row titleBar small-12 columns ">
    <img src="images/banner.png" alt="" />

    <a href="#/tasks">Tasks</a>
    <a href="#/login">logout</a>
    <h4>Welcome {{user.userName}}!</h4>
</div>

<div class="row small-8 small-centered columns taskContainer">
    <div ng-repeat="med in medList track by $index" class="task">
        <div class="postedBy">
            <h6>{{med.medName}}</h6>
        </div>
        <div class="post">
            <div class="medInfo">
                <h5>{{med.dose}}</h5>
                <h5>{{med.frequency}} Hrs</h5>
                <h6>{{med.instructions}}</h6>
                <h6 >Last Given: {{med.lastGiven.dayOfWeek}}, {{med.lastGiven.hour}}:{{med.lastGiven.minute}}</h6>
                <div class="newComments">
                    <button ng-click='give(med.medId)' type="button" name="button">Give</button>
                    <button ng-click='timer(med.lastGiven.hour,med.frequency)' type="button" name="button">Check Time</button>
                </div>
            </div>
            <div class="timer">
                <h5>Timer Goes Here</h5>
                <div id="timerBar">

                </div>
            </div>
        </div>

    </div>
</div>


<div class="row small-12 columns footer">
    <div class="addTask">
        <input ng-model='medName' type="text" name="task" value="" placeholder="Medication Name">
        <input ng-model='dosage' type="text" name="name" value="" placeholder="dosage">
        <input ng-model='frequency' type="text" name="name" value="" placeholder="Frequency in Hrs">
        <input ng-model='instructions' type="text" name="name" value="" placeholder="Instructions">
        <!-- <input ng-model='lastGiven' type="text" name="name" value=""> -->
        <button ng-click='newMed()' type="button" name="add">Add Medication</button>
    </div>
    <div class="proTip">
        <img src="images/lightbulb.png" alt="LightBulb" />
        <h6>{{tip.tip}}</h6>
    </div>
</div>
