<div class="titleBar">
<img src="images/banner.png" alt="" />
</div>

<div class="taskContainer">
  <div ng-repeat="task in taskList track by $index" class="task">
    <div class="postedBy">
      <h6>{{task.user.userName}} {{task.timestamp.dayOfWeek}}</h6>
    </div>
    <div class="post">
      <button class="done" ng-click='done(task.taskId)' type="button" name="button">Done</button>
    <h4>{{task.taskText}} Completed by: {{task.completedByUser.userName}}</h4>
    <div class="newComments">
        <input ng-model="model.newComment[$index]" type="text" placeholder="comments">
        <button ng-click='comment(task.taskId,$index)' type="button" name="button">Add</button>
        <div class="comments">
        <h6>Comments:</h6>
        <h6>{{task.commentText}}</h6>
        </div>
    </div>
  </div>
  </div>
</div>

<div class="footer">
  <div class="addTask">
    <input ng-model='taskText' type="text" name="task" value="" placeholder="add a new task">
    <button ng-click='add()' type="button" name="add">Add Task</button>
  </div>
  <div class="proTip">
    <img src="images/lightbulb.png" alt="LightBulb" />
    <h5>{{tip.tip}}</h5>
  </div>
</div>
